@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Miniver&family=Monoton&family=Open+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

$border-color: #715b3e;
$font-family-OpenSans: 'Open Sans', sans-serif;
$font-family-Miniver: 'Miniver', cursive;
$font-family-Josefin: 'Josefin Sans', sans-serif;
$font-family-Monoton:  'Monoton', cursive;
$font-size: 16px;